<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Bienvenue chez Alice!</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>Bienvenue</h2>
            
            <h4> Name of stock to follow </h4>

            <form id='stock_id' method='post' action='index' > <!-- action is the URL you want to move to next-->
            <p>
            Name: <input type='text' name='name_stock' />
            <input type='submit' value='Submit' /> <!-- value is the text that will appear on the button. -->
            </p>
            </form>
 
          <ul>
            <li><a href="/about">About</a></li>
            <li><a target="_blank" href="https://www.heroku.com/">Heroku</a></li>
            <li><a target="_blank" href="http://flask.pocoo.org/">Flask</a></li>
            <li><a target="_blank" href="http://jinja.pocoo.org/">Jinja2</a></li>
            <li><a target="_blank" href="http://getbootstrap.com/">Bootstrap</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
